In [1]:
import pandas as pd
import numpy as np

In [2]:
customers=pd.read_csv('Input1_clientes_estructura.csv',sep=';')

In [3]:
customers.head()

   Cliente   Regional2   Gerencia2   SubCanal2    Categoria  Nevera
0        1  Regional 1  Gerencia_1  Subcanal_1  Categoria_1       0
1        2  Regional 1  Gerencia_1  Subcanal_1  Categoria_1       0
2        3  Regional 1  Gerencia_1  Subcanal_1  Categoria_1       0
3        4  Regional 1  Gerencia_1  Subcanal_1  Categoria_1       1
4        5  Regional 1  Gerencia_1  Subcanal_1  Categoria_2       1

In [4]:
customers.shape

(20921, 6)

In [5]:
sales=pd.read_csv('Input2_clientes_venta.csv',sep=';')

In [6]:
sales.head()

,Año,Mes,Cliente,SegmentoPrecio2,Marca2,Cupo2,CapacidadEnvase2,Volumen,disc,nr
0,2019,5,10,SegmentoPrecio_1,Marca_1,Cupo_1,CapacidadEnvase_12,0.112229,-30.590603,900.328567
1,2019,5,10,SegmentoPrecio_1,Marca_2,Cupo_2,CapacidadEnvase_10,0.021734,0.000000,149.184463
2,2019,5,10,SegmentoPrecio_2,Marca_3,Cupo_2,CapacidadEnvase_10,0.043469,0.000000,359.625828
3,2019,5,10,SegmentoPrecio_1,Marca_1,Cupo_2,CapacidadEnvase_16,0.026345,-31.065261,134.748399
4,2019,5,10,SegmentoPrecio_1,Marca_4,Cupo_2,CapacidadEnvase_10,0.086938,0.000000,496.901005

In [7]:
sales.shape

(1406116, 10)

In [8]:
test=pd.read_csv('Input3_clientes_test.csv',sep=';')

In [9]:
test.head()

   Cliente  Marca1  Marca2  Marca3  Marca_Inno1  Marca_Inno2
0       10     NaN     NaN     NaN          NaN          NaN
1       12     NaN     NaN     NaN          NaN          NaN
2       14     NaN     NaN     NaN          NaN          NaN
3       15     NaN     NaN     NaN          NaN          NaN
4       18     NaN     NaN     NaN          NaN          NaN

In [10]:
train=pd.merge(left=sales,right=customers,how='left',on='Cliente')

In [11]:
train.head()

,Año,Mes,Cliente,SegmentoPrecio2,Marca2,Cupo2,CapacidadEnvase2,Volumen,disc,nr,Regional2,Gerencia2,SubCanal2,Categoria,Nevera
0,2019,5,10,SegmentoPrecio_1,Marca_1,Cupo_1,CapacidadEnvase_12,0.112229,-30.590603,900.328567,Regional 1,Gerencia_3,Subcanal_1,Categoria_2,1
1,2019,5,10,SegmentoPrecio_1,Marca_2,Cupo_2,CapacidadEnvase_10,0.021734,0.000000,149.184463,Regional 1,Gerencia_3,Subcanal_1,Categoria_2,1
2,2019,5,10,SegmentoPrecio_2,Marca_3,Cupo_2,CapacidadEnvase_10,0.043469,0.000000,359.625828,Regional 1,Gerencia_3,Subcanal_1,Categoria_2,1
3,2019,5,10,SegmentoPrecio_1,Marca_1,Cupo_2,CapacidadEnvase_16,0.026345,-31.065261,134.748399,Regional 1,Gerencia_3,Subcanal_1,Categoria_2,1
4,2019,5,10,SegmentoPrecio_1,Marca_4,Cupo_2,CapacidadEnvase_10,0.086938,0.000000,496.901005,Regional 1,Gerencia_3,Subcanal_1,Categoria_2,1

In [12]:
train.shape

(1406116, 15)

In [13]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1406116 entries, 0 to 1406115
Data columns (total 15 columns):
Año                 1406116 non-null int64
Mes                 1406116 non-null int64
Cliente             1406116 non-null int64
SegmentoPrecio2     1406116 non-null object
Marca2              1406116 non-null object
Cupo2               1406116 non-null object
CapacidadEnvase2    1406116 non-null object
Volumen             1406116 non-null float64
disc                1406116 non-null float64
nr                  1406116 non-null float64
Regional2           1406116 non-null object
Gerencia2           1406116 non-null object
SubCanal2           1406116 non-null object
Categoria           1406116 non-null object
Nevera              1406116 non-null int64
dtypes: float64(3), int64(4), object(8)
memory usage: 171.6+ MB

In [14]:
products_to_score=pd.read_excel('Product_To_Score.xlsx', sheets='Sheet1')

In [15]:
products_to_score

   ID    Marca2   Cupo2     CapacidadEnvase
0   1  Marca_20  Cupo_3   CapacidadEnvase_9
1   2  Marca_16  Cupo_2  CapacidadEnvase_10
2   3   Marca_9  Cupo_2  CapacidadEnvase_12
3   4  Marca_38  Cupo_2  CapacidadEnvase_10
4   5  Marca_39  Cupo_2  CapacidadEnvase_10

In [16]:
test['Mes']=10
test['Año']=2020

In [17]:
test=pd.merge(left=test,right=customers,how='left',on='Cliente')

In [18]:
test.head()

,Cliente,Marca1,Marca2,Marca3,Marca_Inno1,Marca_Inno2,Mes,Año,Regional2,Gerencia2,SubCanal2,Categoria,Nevera
0,10,NaN,NaN,NaN,NaN,NaN,10,2020,Regional 1,Gerencia_3,Subcanal_1,Categoria_2,1
1,12,NaN,NaN,NaN,NaN,NaN,10,2020,Regional 1,Gerencia_3,Subcanal_4,Categoria_4,1
2,14,NaN,NaN,NaN,NaN,NaN,10,2020,Regional 1,Gerencia_3,Subcanal_1,Categoria_2,1
3,15,NaN,NaN,NaN,NaN,NaN,10,2020,Regional 1,Gerencia_2,Subcanal_3,Categoria_2,1
4,18,NaN,NaN,NaN,NaN,NaN,10,2020,Regional 1,Gerencia_3,Subcanal_1,Categoria_5,1

In [19]:
products=train.groupby(['Marca2', 'Cupo2','CapacidadEnvase2','SegmentoPrecio2'],as_index=False)['Volumen'].sum()

In [20]:
products

       Marca2   Cupo2    CapacidadEnvase2   SegmentoPrecio2       Volumen
0     Marca_1  Cupo_1  CapacidadEnvase_12  SegmentoPrecio_1  21881.290980
1     Marca_1  Cupo_1  CapacidadEnvase_14  SegmentoPrecio_1   7651.761163
2     Marca_1  Cupo_1   CapacidadEnvase_6  SegmentoPrecio_1      0.070867
3     Marca_1  Cupo_2  CapacidadEnvase_10  SegmentoPrecio_1  65633.972325
4     Marca_1  Cupo_2  CapacidadEnvase_16  SegmentoPrecio_1  41205.673338
5     Marca_1  Cupo_2  CapacidadEnvase_17  SegmentoPrecio_1   7236.672309
6     Marca_1  Cupo_2   CapacidadEnvase_5  SegmentoPrecio_1    149.928979
7    Marca_10  Cupo_1  CapacidadEnvase_12  SegmentoPrecio_1    170.079276
8    Marca_10  Cupo_2  CapacidadEnvase_10  SegmentoPrecio_1    382.434253
9    Marca_11  Cupo_3   CapacidadEnvase_2  SegmentoPrecio_3      2.154077
10   Marca_11  Cupo_3   CapacidadEnvase_3  SegmentoPrecio_3    384.612502
11   Marca_12  Cupo_1  CapacidadEnvase_10  SegmentoPrecio_2    475.566181
12   Marca_12  Cupo_1  CapacidadEnvase_12  SegmentoPrecio_2     44.917925
13   Marca_12  Cupo_2  CapacidadEnvase_10  SegmentoPrecio_2    409.184960
14   Marca_12  Cupo_3  CapacidadEnvase_10  SegmentoPrecio_2      2.043034
15   Marca_13  Cupo_2  CapacidadEnvase_10  SegmentoPrecio_2    108.860393
16   Marca_13  Cupo_3  CapacidadEnvase_10  SegmentoPrecio_2      4.829385
17   Marca_14  Cupo_1  CapacidadEnvase_12  SegmentoPrecio_1    117.707503
18   Marca_14  Cupo_2  CapacidadEnvase_10  SegmentoPrecio_1    140.236905
19   Marca_14  Cupo_3  CapacidadEnvase_10  SegmentoPrecio_1      4.049844
20   Marca_15  Cupo_1  CapacidadEnvase_10  SegmentoPrecio_1     61.435195
21   Marca_15  Cupo_2  CapacidadEnvase_11  SegmentoPrecio_1   5127.555055
22   Marca_15  Cupo_2  CapacidadEnvase_16  SegmentoPrecio_1    262.111991
23   Marca_16  Cupo_1  CapacidadEnvase_10  SegmentoPrecio_2    790.155039
24   Marca_16  Cupo_1  CapacidadEnvase_12  SegmentoPrecio_2      2.505659
25   Marca_16  Cupo_1   CapacidadEnvase_6  SegmentoPrecio_2      5.573125
26   Marca_16  Cupo_2  CapacidadEnvase_10  SegmentoPrecio_2    555.307542
27   Marca_16  Cupo_3  CapacidadEnvase_10  SegmentoPrecio_2      4.415707
28   Marca_16  Cupo_5  CapacidadEnvase_17  SegmentoPrecio_2      0.131724
29   Marca_17  Cupo_1  CapacidadEnvase_10  SegmentoPrecio_1    836.562342
..        ...     ...                 ...               ...           ...
75    Marca_4  Cupo_2  CapacidadEnvase_16  SegmentoPrecio_1   4522.378205
76    Marca_4  Cupo_2  CapacidadEnvase_17  SegmentoPrecio_1    175.089298
77    Marca_4  Cupo_2   CapacidadEnvase_4  SegmentoPrecio_1      0.075082
78    Marca_4  Cupo_3  CapacidadEnvase_10  SegmentoPrecio_1      3.286242
79    Marca_4  Cupo_5  CapacidadEnvase_17  SegmentoPrecio_1      5.049407
80    Marca_5  Cupo_1  CapacidadEnvase_10  SegmentoPrecio_1   9594.065058
81    Marca_5  Cupo_1  CapacidadEnvase_14  SegmentoPrecio_1   1380.815161
82    Marca_5  Cupo_1   CapacidadEnvase_6  SegmentoPrecio_1     39.320150
83    Marca_5  Cupo_2  CapacidadEnvase_10  SegmentoPrecio_1  45552.076360
84    Marca_5  Cupo_2  CapacidadEnvase_16  SegmentoPrecio_1  16907.627130
85    Marca_5  Cupo_2  CapacidadEnvase_17  SegmentoPrecio_1   2040.564304
86    Marca_5  Cupo_2   CapacidadEnvase_5  SegmentoPrecio_1      7.549962
87    Marca_5  Cupo_3  CapacidadEnvase_10  SegmentoPrecio_1    103.292762
88    Marca_6  Cupo_1  CapacidadEnvase_10  SegmentoPrecio_2   4286.300804
89    Marca_6  Cupo_1  CapacidadEnvase_12  SegmentoPrecio_2    250.059276
90    Marca_6  Cupo_1   CapacidadEnvase_6  SegmentoPrecio_2     29.327856
91    Marca_6  Cupo_2  CapacidadEnvase_10  SegmentoPrecio_2   8162.696515
92    Marca_6  Cupo_3  CapacidadEnvase_10  SegmentoPrecio_2     57.473738
93    Marca_6  Cupo_5  CapacidadEnvase_17  SegmentoPrecio_2     16.992353
94    Marca_7  Cupo_1  CapacidadEnvase_12  SegmentoPrecio_3      5.307476
95    Marca_7  Cupo_1   CapacidadEnvase_6  SegmentoPrecio_3   3954.486440
96    Marca_7  Cupo_3   CapacidadEnvase_5  SegmentoPrecio_3    889.713260
97    Marca_7  Cupo_3   CapacidadEnvase_8  SegmentoPrecio_3    128.246429
98    Marca_8  Cupo_1   CapacidadEnvase_6  SegmentoPrecio_1    342.569742
99    Marca_8  Cupo_2  CapacidadEnvase_10  SegmentoPrecio_1   1223.163080
100   Marca_8  Cupo_3   CapacidadEnvase_1  SegmentoPrecio_1      2.074648
101   Marca_8  Cupo_3  CapacidadEnvase_10  SegmentoPrecio_1      1.360574
102   Marca_9  Cupo_3  CapacidadEnvase_12  SegmentoPrecio_3   4945.818641
103   Marca_9  Cupo_3  CapacidadEnvase_15  SegmentoPrecio_3    172.786790
104   Marca_9  Cupo_3   CapacidadEnvase_3  SegmentoPrecio_3   1117.125460

[105 rows x 5 columns]

In [21]:
products=products.drop('Volumen',axis=1)
products.head()

    Marca2   Cupo2    CapacidadEnvase2   SegmentoPrecio2
0  Marca_1  Cupo_1  CapacidadEnvase_12  SegmentoPrecio_1
1  Marca_1  Cupo_1  CapacidadEnvase_14  SegmentoPrecio_1
2  Marca_1  Cupo_1   CapacidadEnvase_6  SegmentoPrecio_1
3  Marca_1  Cupo_2  CapacidadEnvase_10  SegmentoPrecio_1
4  Marca_1  Cupo_2  CapacidadEnvase_16  SegmentoPrecio_1

In [22]:
products['Llave']=products.Marca2+products.Cupo2+products.CapacidadEnvase2
products.reset_index(inplace=True)
products.head()

,index,Marca2,Cupo2,CapacidadEnvase2,SegmentoPrecio2,Llave
0,0,Marca_1,Cupo_1,CapacidadEnvase_12,SegmentoPrecio_1,Marca_1Cupo_1CapacidadEnvase_12
1,1,Marca_1,Cupo_1,CapacidadEnvase_14,SegmentoPrecio_1,Marca_1Cupo_1CapacidadEnvase_14
2,2,Marca_1,Cupo_1,CapacidadEnvase_6,SegmentoPrecio_1,Marca_1Cupo_1CapacidadEnvase_6
3,3,Marca_1,Cupo_2,CapacidadEnvase_10,SegmentoPrecio_1,Marca_1Cupo_2CapacidadEnvase_10
4,4,Marca_1,Cupo_2,CapacidadEnvase_16,SegmentoPrecio_1,Marca_1Cupo_2CapacidadEnvase_16

In [23]:
test=test.drop(['Marca1','Marca2','Marca3','Marca_Inno1','Marca_Inno2'],axis=1)

In [24]:
test1=test.copy()
test2=test.copy()
test3=test.copy()
test4=test.copy()
test5=test.copy()

In [25]:
test1['ID']=1
test2['ID']=2
test3['ID']=3
test4['ID']=4
test5['ID']=5

In [26]:
test=test1.append([test2,test3,test4,test5])

In [27]:
test.tail()

,Cliente,Mes,Año,Regional2,Gerencia2,SubCanal2,Categoria,Nevera,ID
9297,20186,10,2020,Regional 1,Gerencia_9,Subcanal_7,Categoria_1,0,5
9298,20261,10,2020,Regional 1,Gerencia_10,Subcanal_1,Categoria_2,0,5
9299,20309,10,2020,Regional 1,Gerencia_10,Subcanal_3,Categoria_3,0,5
9300,20360,10,2020,Regional 1,Gerencia_10,Subcanal_8,Categoria_1,0,5
9301,20569,10,2020,Regional 1,Gerencia_6,Subcanal_3,Categoria_2,0,5

In [28]:
train['Llave']=train.Marca2+train.Cupo2+train.CapacidadEnvase2

In [29]:
products_to_score['Llave']=products_to_score.Marca2+products_to_score.Cupo2+products_to_score.CapacidadEnvase

In [30]:
train=pd.merge(left=train,right=products_to_score[['Llave','ID']],how='left',on='Llave')

In [31]:
train.head()

,Año,Mes,Cliente,SegmentoPrecio2,Marca2,Cupo2,CapacidadEnvase2,Volumen,disc,nr,Regional2,Gerencia2,SubCanal2,Categoria,Nevera,Llave,ID
0,2019,5,10,SegmentoPrecio_1,Marca_1,Cupo_1,CapacidadEnvase_12,0.112229,-30.590603,900.328567,Regional 1,Gerencia_3,Subcanal_1,Categoria_2,1,Marca_1Cupo_1CapacidadEnvase_12,NaN
1,2019,5,10,SegmentoPrecio_1,Marca_2,Cupo_2,CapacidadEnvase_10,0.021734,0.000000,149.184463,Regional 1,Gerencia_3,Subcanal_1,Categoria_2,1,Marca_2Cupo_2CapacidadEnvase_10,NaN
2,2019,5,10,SegmentoPrecio_2,Marca_3,Cupo_2,CapacidadEnvase_10,0.043469,0.000000,359.625828,Regional 1,Gerencia_3,Subcanal_1,Categoria_2,1,Marca_3Cupo_2CapacidadEnvase_10,NaN
3,2019,5,10,SegmentoPrecio_1,Marca_1,Cupo_2,CapacidadEnvase_16,0.026345,-31.065261,134.748399,Regional 1,Gerencia_3,Subcanal_1,Categoria_2,1,Marca_1Cupo_2CapacidadEnvase_16,NaN
4,2019,5,10,SegmentoPrecio_1,Marca_4,Cupo_2,CapacidadEnvase_10,0.086938,0.000000,496.901005,Regional 1,Gerencia_3,Subcanal_1,Categoria_2,1,Marca_4Cupo_2CapacidadEnvase_10,NaN

In [32]:
train.shape

(1406116, 17)

In [33]:
train['ID']=train.ID.fillna(0)

In [34]:
train['nr/volume'] = train['nr']/train['Volumen']

In [35]:
train.head()

,Año,Mes,Cliente,SegmentoPrecio2,Marca2,Cupo2,CapacidadEnvase2,Volumen,disc,nr,Regional2,Gerencia2,SubCanal2,Categoria,Nevera,Llave,ID,nr/volume
0,2019,5,10,SegmentoPrecio_1,Marca_1,Cupo_1,CapacidadEnvase_12,0.112229,-30.590603,900.328567,Regional 1,Gerencia_3,Subcanal_1,Categoria_2,1,Marca_1Cupo_1CapacidadEnvase_12,0.0,8022.276248
1,2019,5,10,SegmentoPrecio_1,Marca_2,Cupo_2,CapacidadEnvase_10,0.021734,0.000000,149.184463,Regional 1,Gerencia_3,Subcanal_1,Categoria_2,1,Marca_2Cupo_2CapacidadEnvase_10,0.0,6863.977158
2,2019,5,10,SegmentoPrecio_2,Marca_3,Cupo_2,CapacidadEnvase_10,0.043469,0.000000,359.625828,Regional 1,Gerencia_3,Subcanal_1,Categoria_2,1,Marca_3Cupo_2CapacidadEnvase_10,0.0,8273.192177
3,2019,5,10,SegmentoPrecio_1,Marca_1,Cupo_2,CapacidadEnvase_16,0.026345,-31.065261,134.748399,Regional 1,Gerencia_3,Subcanal_1,Categoria_2,1,Marca_1Cupo_2CapacidadEnvase_16,0.0,5114.813411
4,2019,5,10,SegmentoPrecio_1,Marca_4,Cupo_2,CapacidadEnvase_10,0.086938,0.000000,496.901005,Regional 1,Gerencia_3,Subcanal_1,Categoria_2,1,Marca_4Cupo_2CapacidadEnvase_10,0.0,5715.603808

In [36]:
train=train.drop('Llave',axis=1)

In [37]:
train.shape

(1406116, 17)

In [38]:
test.columns

Index(['Cliente', 'Mes', 'Año', 'Regional2', 'Gerencia2', 'SubCanal2',
       'Categoria', 'Nevera', 'ID'],
      dtype='object')

In [39]:
test = pd.merge(left=test, right=products_to_score, how = 'left', on = 'ID')
test.columns

Index(['Cliente', 'Mes', 'Año', 'Regional2', 'Gerencia2', 'SubCanal2',
       'Categoria', 'Nevera', 'ID', 'Marca2', 'Cupo2', 'CapacidadEnvase',
       'Llave'],
      dtype='object')

In [40]:
test.drop('Llave', inplace=True, axis=1)
test.rename(columns = {'CapacidadEnvase':'CapacidadEnvase2'}, inplace=True)
test.head()

,Cliente,Mes,Año,Regional2,Gerencia2,SubCanal2,Categoria,Nevera,ID,Marca2,Cupo2,CapacidadEnvase2
0,10,10,2020,Regional 1,Gerencia_3,Subcanal_1,Categoria_2,1,1,Marca_20,Cupo_3,CapacidadEnvase_9
1,12,10,2020,Regional 1,Gerencia_3,Subcanal_4,Categoria_4,1,1,Marca_20,Cupo_3,CapacidadEnvase_9
2,14,10,2020,Regional 1,Gerencia_3,Subcanal_1,Categoria_2,1,1,Marca_20,Cupo_3,CapacidadEnvase_9
3,15,10,2020,Regional 1,Gerencia_2,Subcanal_3,Categoria_2,1,1,Marca_20,Cupo_3,CapacidadEnvase_9
4,18,10,2020,Regional 1,Gerencia_3,Subcanal_1,Categoria_5,1,1,Marca_20,Cupo_3,CapacidadEnvase_9

In [41]:
test['Llave']=test.Marca2+test.Cupo2+test.CapacidadEnvase2
test = pd.merge(left=test, right=products[['Llave', 'SegmentoPrecio2']], how='left', on = 'Llave')
test.drop('Llave', inplace=True, axis=1)
test.head()

,Cliente,Mes,Año,Regional2,Gerencia2,SubCanal2,Categoria,Nevera,ID,Marca2,Cupo2,CapacidadEnvase2,SegmentoPrecio2
0,10,10,2020,Regional 1,Gerencia_3,Subcanal_1,Categoria_2,1,1,Marca_20,Cupo_3,CapacidadEnvase_9,SegmentoPrecio_1
1,12,10,2020,Regional 1,Gerencia_3,Subcanal_4,Categoria_4,1,1,Marca_20,Cupo_3,CapacidadEnvase_9,SegmentoPrecio_1
2,14,10,2020,Regional 1,Gerencia_3,Subcanal_1,Categoria_2,1,1,Marca_20,Cupo_3,CapacidadEnvase_9,SegmentoPrecio_1
3,15,10,2020,Regional 1,Gerencia_2,Subcanal_3,Categoria_2,1,1,Marca_20,Cupo_3,CapacidadEnvase_9,SegmentoPrecio_1
4,18,10,2020,Regional 1,Gerencia_3,Subcanal_1,Categoria_5,1,1,Marca_20,Cupo_3,CapacidadEnvase_9,SegmentoPrecio_1

In [42]:
test['Volumen'] = 0
test['disc'] = 0
test['nr'] = 0
test['nr/volume'] = 0
test = test[['Año', 'Mes', 'Cliente', 'SegmentoPrecio2', 'Marca2', 'Cupo2',
       'CapacidadEnvase2', 'Volumen', 'disc', 'nr', 'nr/volume', 'Regional2', 'Gerencia2',
       'SubCanal2', 'Categoria', 'Nevera', 'ID']]
test.head()

,Año,Mes,Cliente,SegmentoPrecio2,Marca2,Cupo2,CapacidadEnvase2,Volumen,disc,nr,nr/volume,Regional2,Gerencia2,SubCanal2,Categoria,Nevera,ID
0,2020,10,10,SegmentoPrecio_1,Marca_20,Cupo_3,CapacidadEnvase_9,0,0,0,0,Regional 1,Gerencia_3,Subcanal_1,Categoria_2,1,1
1,2020,10,12,SegmentoPrecio_1,Marca_20,Cupo_3,CapacidadEnvase_9,0,0,0,0,Regional 1,Gerencia_3,Subcanal_4,Categoria_4,1,1
2,2020,10,14,SegmentoPrecio_1,Marca_20,Cupo_3,CapacidadEnvase_9,0,0,0,0,Regional 1,Gerencia_3,Subcanal_1,Categoria_2,1,1
3,2020,10,15,SegmentoPrecio_1,Marca_20,Cupo_3,CapacidadEnvase_9,0,0,0,0,Regional 1,Gerencia_2,Subcanal_3,Categoria_2,1,1
4,2020,10,18,SegmentoPrecio_1,Marca_20,Cupo_3,CapacidadEnvase_9,0,0,0,0,Regional 1,Gerencia_3,Subcanal_1,Categoria_5,1,1

In [43]:
df = train.append(test, sort=False)

In [44]:
df.tail()
df.head()

,Año,Mes,Cliente,SegmentoPrecio2,Marca2,Cupo2,CapacidadEnvase2,Volumen,disc,nr,Regional2,Gerencia2,SubCanal2,Categoria,Nevera,ID,nr/volume
0,2019,5,10,SegmentoPrecio_1,Marca_1,Cupo_1,CapacidadEnvase_12,0.112229,-30.590603,900.328567,Regional 1,Gerencia_3,Subcanal_1,Categoria_2,1,0.0,8022.276248
1,2019,5,10,SegmentoPrecio_1,Marca_2,Cupo_2,CapacidadEnvase_10,0.021734,0.000000,149.184463,Regional 1,Gerencia_3,Subcanal_1,Categoria_2,1,0.0,6863.977158
2,2019,5,10,SegmentoPrecio_2,Marca_3,Cupo_2,CapacidadEnvase_10,0.043469,0.000000,359.625828,Regional 1,Gerencia_3,Subcanal_1,Categoria_2,1,0.0,8273.192177
3,2019,5,10,SegmentoPrecio_1,Marca_1,Cupo_2,CapacidadEnvase_16,0.026345,-31.065261,134.748399,Regional 1,Gerencia_3,Subcanal_1,Categoria_2,1,0.0,5114.813411
4,2019,5,10,SegmentoPrecio_1,Marca_4,Cupo_2,CapacidadEnvase_10,0.086938,0.000000,496.901005,Regional 1,Gerencia_3,Subcanal_1,Categoria_2,1,0.0,5715.603808

In [45]:
df.shape

(1452626, 17)

In [46]:
df['Llave']=df.Marca2+df.Cupo2+df.CapacidadEnvase2
df = df.merge(products[['Llave', 'index']], how='left', on = 'Llave')
df.drop('Llave', inplace=True, axis=1)
df.columns

Index(['Año', 'Mes', 'Cliente', 'SegmentoPrecio2', 'Marca2', 'Cupo2',
       'CapacidadEnvase2', 'Volumen', 'disc', 'nr', 'Regional2', 'Gerencia2',
       'SubCanal2', 'Categoria', 'Nevera', 'ID', 'nr/volume', 'index'],
      dtype='object')

In [47]:
df.rename(columns = {'ID' : 'target_id', 'index' : 'product_id'  }, inplace=True)
df.tail()

,Año,Mes,Cliente,SegmentoPrecio2,Marca2,Cupo2,CapacidadEnvase2,Volumen,disc,nr,Regional2,Gerencia2,SubCanal2,Categoria,Nevera,target_id,nr/volume,product_id
1452621,2020,10,20186,SegmentoPrecio_3,Marca_39,Cupo_2,CapacidadEnvase_10,0.0,0.0,0.0,Regional 1,Gerencia_9,Subcanal_7,Categoria_1,0,5.0,0.0,70.0
1452622,2020,10,20261,SegmentoPrecio_3,Marca_39,Cupo_2,CapacidadEnvase_10,0.0,0.0,0.0,Regional 1,Gerencia_10,Subcanal_1,Categoria_2,0,5.0,0.0,70.0
1452623,2020,10,20309,SegmentoPrecio_3,Marca_39,Cupo_2,CapacidadEnvase_10,0.0,0.0,0.0,Regional 1,Gerencia_10,Subcanal_3,Categoria_3,0,5.0,0.0,70.0
1452624,2020,10,20360,SegmentoPrecio_3,Marca_39,Cupo_2,CapacidadEnvase_10,0.0,0.0,0.0,Regional 1,Gerencia_10,Subcanal_8,Categoria_1,0,5.0,0.0,70.0
1452625,2020,10,20569,SegmentoPrecio_3,Marca_39,Cupo_2,CapacidadEnvase_10,0.0,0.0,0.0,Regional 1,Gerencia_6,Subcanal_3,Categoria_2,0,5.0,0.0,70.0

In [48]:
df.shape

(1452626, 18)

In [49]:
#df.to_csv('df.csv')

In [50]:
result = []
for year in list(df['Año'].unique()):
    for month in list(df[df['Año']==year]['Mes'].unique()):
        for customer in list(df['Cliente'].unique()):
            result.append([year, month, customer])

matrix = pd.DataFrame(result, columns = ['year', 'month', 'customer'])
matrix['Llave'] = matrix.year.astype(str) + '_' + matrix.month.astype(str)

In [51]:
len(list(df['Cliente'].unique()))

17010

In [52]:
periods = df.groupby(['Año', 'Mes'], as_index=False)['Volumen'].sum()
periods.drop('Volumen', inplace=True, axis=1)
periods = periods.sort_values(by = ['Año', 'Mes'])
periods.reset_index(inplace=True)
periods.columns = ['period', 'year', 'month']
periods['Llave'] = periods.year.astype(str) + '_' + periods.month.astype(str)

In [53]:
matrix = matrix.merge(periods[['period', 'Llave']] , how='left', on = 'Llave')
matrix.tail()

        year  month  customer    Llave  period
306175  2020     10     20529  2020_10      17
306176  2020     10     20567  2020_10      17
306177  2020     10     20569  2020_10      17
306178  2020     10     20577  2020_10      17
306179  2020     10     20580  2020_10      17

In [54]:
matrix

        year  month  customer    Llave  period
0       2019      5        10   2019_5       0
1       2019      5        12   2019_5       0
2       2019      5        14   2019_5       0
3       2019      5        15   2019_5       0
4       2019      5        18   2019_5       0
5       2019      5        24   2019_5       0
6       2019      5        26   2019_5       0
7       2019      5        33   2019_5       0
8       2019      5        35   2019_5       0
9       2019      5        40   2019_5       0
10      2019      5        48   2019_5       0
11      2019      5        54   2019_5       0
12      2019      5        57   2019_5       0
13      2019      5        58   2019_5       0
14      2019      5        63   2019_5       0
15      2019      5        77   2019_5       0
16      2019      5        78   2019_5       0
17      2019      5        89   2019_5       0
18      2019      5       103   2019_5       0
19      2019      5       105   2019_5       0
20      2019      5       112   2019_5       0
21      2019      5       113   2019_5       0
22      2019      5       130   2019_5       0
23      2019      5       135   2019_5       0
24      2019      5       136   2019_5       0
25      2019      5       150   2019_5       0
26      2019      5       171   2019_5       0
27      2019      5       173   2019_5       0
28      2019      5       177   2019_5       0
29      2019      5       183   2019_5       0
...      ...    ...       ...      ...     ...
306150  2020     10     19927  2020_10      17
306151  2020     10     19954  2020_10      17
306152  2020     10     19962  2020_10      17
306153  2020     10     19966  2020_10      17
306154  2020     10     19969  2020_10      17
306155  2020     10     20045  2020_10      17
306156  2020     10     20052  2020_10      17
306157  2020     10     20139  2020_10      17
306158  2020     10     20154  2020_10      17
306159  2020     10     20186  2020_10      17
306160  2020     10     20261  2020_10      17
306161  2020     10     20268  2020_10      17
306162  2020     10     20307  2020_10      17
306163  2020     10     20309  2020_10      17
306164  2020     10     20313  2020_10      17
306165  2020     10     20324  2020_10      17
306166  2020     10     20360  2020_10      17
306167  2020     10     20361  2020_10      17
306168  2020     10     20373  2020_10      17
306169  2020     10     20403  2020_10      17
306170  2020     10     20405  2020_10      17
306171  2020     10     20414  2020_10      17
306172  2020     10     20456  2020_10      17
306173  2020     10     20462  2020_10      17
306174  2020     10     20525  2020_10      17
306175  2020     10     20529  2020_10      17
306176  2020     10     20567  2020_10      17
306177  2020     10     20569  2020_10      17
306178  2020     10     20577  2020_10      17
306179  2020     10     20580  2020_10      17

[306180 rows x 5 columns]

In [55]:
df['Llave']=df['Año'].astype(str)+'_'+df['Mes'].astype(str)
df=df.merge(periods[['Llave','period']],how='left',on='Llave')
df.head()

,Año,Mes,Cliente,SegmentoPrecio2,Marca2,Cupo2,CapacidadEnvase2,Volumen,disc,nr,Regional2,Gerencia2,SubCanal2,Categoria,Nevera,target_id,nr/volume,product_id,Llave,period
0,2019,5,10,SegmentoPrecio_1,Marca_1,Cupo_1,CapacidadEnvase_12,0.112229,-30.590603,900.328567,Regional 1,Gerencia_3,Subcanal_1,Categoria_2,1,0.0,8022.276248,0.0,2019_5,0
1,2019,5,10,SegmentoPrecio_1,Marca_2,Cupo_2,CapacidadEnvase_10,0.021734,0.000000,149.184463,Regional 1,Gerencia_3,Subcanal_1,Categoria_2,1,0.0,6863.977158,39.0,2019_5,0
2,2019,5,10,SegmentoPrecio_2,Marca_3,Cupo_2,CapacidadEnvase_10,0.043469,0.000000,359.625828,Regional 1,Gerencia_3,Subcanal_1,Categoria_2,1,0.0,8273.192177,59.0,2019_5,0
3,2019,5,10,SegmentoPrecio_1,Marca_1,Cupo_2,CapacidadEnvase_16,0.026345,-31.065261,134.748399,Regional 1,Gerencia_3,Subcanal_1,Categoria_2,1,0.0,5114.813411,4.0,2019_5,0
4,2019,5,10,SegmentoPrecio_1,Marca_4,Cupo_2,CapacidadEnvase_10,0.086938,0.000000,496.901005,Regional 1,Gerencia_3,Subcanal_1,Categoria_2,1,0.0,5715.603808,74.0,2019_5,0

In [56]:
df.columns

Index(['Año', 'Mes', 'Cliente', 'SegmentoPrecio2', 'Marca2', 'Cupo2',
       'CapacidadEnvase2', 'Volumen', 'disc', 'nr', 'Regional2', 'Gerencia2',
       'SubCanal2', 'Categoria', 'Nevera', 'target_id', 'nr/volume',
       'product_id', 'Llave', 'period'],
      dtype='object')

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1452626 entries, 0 to 1452625
Data columns (total 20 columns):
Año                 1452626 non-null int64
Mes                 1452626 non-null int64
Cliente             1452626 non-null int64
SegmentoPrecio2     1443324 non-null object
Marca2              1452626 non-null object
Cupo2               1452626 non-null object
CapacidadEnvase2    1452626 non-null object
Volumen             1452626 non-null float64
disc                1452626 non-null float64
nr                  1452626 non-null float64
Regional2           1452626 non-null object
Gerencia2           1452626 non-null object
SubCanal2           1452626 non-null object
Categoria           1452626 non-null object
Nevera              1452626 non-null int64
target_id           1452626 non-null float64
nr/volume           1447593 non-null float64
product_id          1443324 non-null float64
Llave               1452626 non-null object
period              1452626 non-null int64
dtypes: float64(6), int64(5), object(9)
memory usage: 232.7+ MB

In [58]:
df['product_id']=df['product_id'].fillna(9999)
df['product_id']=df['product_id'].astype(int)

In [61]:
def AddProductColumn(matrix,df,product):
    
    product=str(product)
    
    matrix['Product']=product
    matrix['Llave']=matrix.period.astype(str)+'-'+matrix.customer.astype(str)+'-'+matrix.Product.astype(str)
    df['Llave']=df.period.astype(str)+'-'+df.Cliente.astype(str)+'-'+df.product_id.astype(int).astype(str)
    
    matrix=matrix.merge(df[['Llave','Volumen','disc','nr','nr/volume']],how='left',on='Llave')
    matrix[['Volumen','disc','nr','nr/volume']]=matrix[['Volumen','disc','nr','nr/volume']].fillna(0)
    matrix=matrix.rename(columns={'Volumen':'Volumen_'+product,'disc':'disc_'+product,'nr':'nr_'+product,
                                 'nr/volume':'nr/volume_'+product})
    matrix=matrix.drop('Product',axis=1)
    
    return matrix

In [62]:
def BigMatrix(matrix,df,products):
    
    max_product=max(products.index)
    
    for i in range(0,max_product):
        
        matrix=AddProductColumn(matrix,df,i)
    
    return matrix

In [ ]:
matrix=BigMatrix(matrix,df,products)

In [64]:
products.head()

,index,Marca2,Cupo2,CapacidadEnvase2,SegmentoPrecio2,Llave
0,0,Marca_1,Cupo_1,CapacidadEnvase_12,SegmentoPrecio_1,Marca_1Cupo_1CapacidadEnvase_12
1,1,Marca_1,Cupo_1,CapacidadEnvase_14,SegmentoPrecio_1,Marca_1Cupo_1CapacidadEnvase_14
2,2,Marca_1,Cupo_1,CapacidadEnvase_6,SegmentoPrecio_1,Marca_1Cupo_1CapacidadEnvase_6
3,3,Marca_1,Cupo_2,CapacidadEnvase_10,SegmentoPrecio_1,Marca_1Cupo_2CapacidadEnvase_10
4,4,Marca_1,Cupo_2,CapacidadEnvase_16,SegmentoPrecio_1,Marca_1Cupo_2CapacidadEnvase_16

In [63]:
matrix

,year,month,customer,Llave,period,Volumen_1,disc_1,nr_1,nr/volume_1
0,2019,5,10,0-10-1,0,0.000000,0.0,0.000000,0.000000
1,2019,5,12,0-12-1,0,0.000000,0.0,0.000000,0.000000
2,2019,5,14,0-14-1,0,0.018692,0.0,138.453567,7407.265818
3,2019,5,15,0-15-1,0,0.000000,0.0,0.000000,0.000000
4,2019,5,18,0-18-1,0,0.000000,0.0,0.000000,0.000000
5,2019,5,24,0-24-1,0,0.000000,0.0,0.000000,0.000000
6,2019,5,26,0-26-1,0,0.000000,0.0,0.000000,0.000000
7,2019,5,33,0-33-1,0,0.000000,0.0,0.000000,0.000000
8,2019,5,35,0-35-1,0,0.000000,0.0,0.000000,0.000000
9,2019,5,40,0-40-1,0,0.000000,0.0,0.000000,0.000000
10,2019,5,48,0-48-1,0,0.000000,0.0,0.000000,0.000000
11,2019,5,54,0-54-1,0,0.000000,0.0,0.000000,0.000000
12,2019,5,57,0-57-1,0,0.000000,0.0,0.000000,0.000000
13,2019,5,58,0-58-1,0,0.000000,0.0,0.000000,0.000000
14,2019,5,63,0-63-1,0,0.000000,0.0,0.000000,0.000000
15,2019,5,77,0-77-1,0,0.000000,0.0,0.000000,0.000000
16,2019,5,78,0-78-1,0,0.000000,0.0,0.000000,0.000000
17,2019,5,89,0-89-1,0,0.000000,0.0,0.000000,0.000000
18,2019,5,103,0-103-1,0,0.000000,0.0,0.000000,0.000000
19,2019,5,105,0-105-1,0,0.000000,0.0,0.000000,0.000000
20,2019,5,112,0-112-1,0,0.018692,0.0,138.453567,7407.265818
21,2019,5,113,0-113-1,0,0.000000,0.0,0.000000,0.000000
22,2019,5,130,0-130-1,0,0.000000,0.0,0.000000,0.000000
23,2019,5,135,0-135-1,0,0.000000,0.0,0.000000,0.000000
24,2019,5,136,0-136-1,0,0.000000,0.0,0.000000,0.000000
25,2019,5,150,0-150-1,0,0.000000,0.0,0.000000,0.000000
26,2019,5,171,0-171-1,0,0.224299,0.0,1661.442911,7407.266311
27,2019,5,173,0-173-1,0,0.000000,0.0,0.000000,0.000000
28,2019,5,177,0-177-1,0,0.000000,0.0,0.000000,0.000000
29,2019,5,183,0-183-1,0,0.130841,0.0,969.175077,7407.266662
...,...,...,...,...,...,...,...,...,...
306150,2020,10,19927,17-19927-1,17,0.000000,0.0,0.000000,0.000000
306151,2020,10,19954,17-19954-1,17,0.000000,0.0,0.000000,0.000000
306152,2020,10,19962,17-19962-1,17,0.000000,0.0,0.000000,0.000000
306153,2020,10,19966,17-19966-1,17,0.000000,0.0,0.000000,0.000000
306154,2020,10,19969,17-19969-1,17,0.000000,0.0,0.000000,0.000000
306155,2020,10,20045,17-20045-1,17,0.000000,0.0,0.000000,0.000000
306156,2020,10,20052,17-20052-1,17,0.000000,0.0,0.000000,0.000000
306157,2020,10,20139,17-20139-1,17,0.000000,0.0,0.000000,0.000000
306158,2020,10,20154,17-20154-1,17,0.000000,0.0,0.000000,0.000000
306159,2020,10,20186,17-20186-1,17,0.000000,0.0,0.000000,0.000000
306160,2020,10,20261,17-20261-1,17,0.000000,0.0,0.000000,0.000000
306161,2020,10,20268,17-20268-1,17,0.000000,0.0,0.000000,0.000000
306162,2020,10,20307,17-20307-1,17,0.000000,0.0,0.000000,0.000000
306163,2020,10,20309,17-20309-1,17,0.000000,0.0,0.000000,0.000000
306164,2020,10,20313,17-20313-1,17,0.000000,0.0,0.000000,0.000000
306165,2020,10,20324,17-20324-1,17,0.000000,0.0,0.000000,0.000000
306166,2020,10,20360,17-20360-1,17,0.000000,0.0,0.000000,0.000000
306167,2020,10,20361,17-20361-1,17,0.000000,0.0,0.000000,0.000000
306168,2020,10,20373,17-20373-1,17,0.000000,0.0,0.000000,0.000000
306169,2020,10,20403,17-20403-1,17,0.000000,0.0,0.000000,0.000000
306170,2020,10,20405,17-20405-1,17,0.000000,0.0,0.000000,0.000000
306171,2020,10,20414,17-20414-1,17,0.000000,0.0,0.000000,0.000000
306172,2020,10,20456,17-20456-1,17,0.000000,0.0,0.000000,0.000000
306173,2020,10,20462,17-20462-1,17,0.000000,0.0,0.000000,0.000000
306174,2020,10,20525,17-20525-1,17,0.000000,0.0,0.000000,0.000000
306175,2020,10,20529,17-20529-1,17,0.000000,0.0,0.000000,0.000000
306176,2020,10,20567,17-20567-1,17,0.000000,0.0,0.000000,0.000000
306177,2020,10,20569,17-20569-1,17,0.000000,0.0,0.000000,0.000000
306178,2020,10,20577,17-20577-1,17,0.000000,0.0,0.000000,0.000000
306179,2020,10,20580,17-20580-1,17,0.000000,0.0,0.000000,0.000000

In [ ]:
def lag_feature(df, product, lags, col):
    tmp = df[['period','Client','product_id',col]]
    for i in lags:
        shifted = tmp.copy()
        shifted.columns = ['date_block_num','shop_id','item_id', col+'_lag_'+str(i)]
        shifted['date_block_num'] += i
        df = pd.merge(df, shifted, on=['date_block_num','shop_id','item_id'], how='left')
    return df